#root {
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.navbar {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.container {
    width: 80%;
}

th,
td {
    padding: 1rem;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
}

.btn-green {
    background-color: darkgreen !important;
    color: white;
}
.btn-red {
    background-color: darkred !important;
    color: white;
}
.btn-yellow {
    background-color: darkgoldenrod !important;
    color: white;
}

.phone-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
    justify-content: space-between;
}

.form-input {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.form-input input {
    width: 17rem;
}
.form-input label {
    text-wrap: nowrap;
}

.modal {
    padding: 1rem;
}
